<html>
<link rel="stylesheet" href="css/style.css">
   <body>
     <p>Вы находитесь на главной странице проекта "Прогноз". 
     На этой странице вы выбираете файл на вашем компьютере с РАСШИРЕНИЕМ .CSV
     Но перед тем как выбрать файл, ознакомтесь с </p>

      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <p><input type = "file" name = "file" /></p>
         <p1><input type = "submit"/></p1>
      </form>
   </body>
</html>